<div class="navbar navbar-default">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="col-12">
        <a class="navbar-brand" href="#">Movie filters!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            
               <!-- "Popularity Filters" -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Popularity
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <app-filter-component
                  [FilterItems]="PopularityFilterItems"
                  (filtersChanged)="onPopularityFiltersChanged($event)"
                  [DataColumnName]="'Popularity'"
                ></app-filter-component>
              </ul>
            </li>

                <!-- "Genres Filters" -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genre
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <app-filter-component
                  [FilterItems]="GenreFilterItems"
                  (filtersChanged)="onGenresFiltersChanged($event)"
                  [DataColumnName]="'Genre'"
                ></app-filter-component>
              </ul>
            </li>

               <!-- "Cast Filters" -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cast Members
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <app-filter-component
                  ng-attr-id="castTable"
                  [FilterItems]="CastFilterItems"
                  (filtersChanged)="onCastFiltersChanged($event)"
                  [DataColumnName]="'Cast Member'"
                ></app-filter-component>
              </ul>
            </li>

                <!-- "Release Year Filters" -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Release Year
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <app-filter-component
                  [FilterItems]="ReleaseYearFilterItems"
                  (filtersChanged)="onReleaseYearsFiltersChanged($event)"
                  [DataColumnName]="'Release Year'"
                ></app-filter-component>
              </ul>
            </li>

                <!-- "Director Filters" -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Director
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <app-filter-component
                  [FilterItems]="DirectorFilterItems"
                  (filtersChanged)="onDirectorFiltersChanged($event)"
                  [DataColumnName]="'Director'"
                ></app-filter-component>
              </ul>
            </li>

                <!-- Drop down selector for num of results -->

            <select
              #filterNumber
              mat-select
              name="filterNumber"
              id="filterNumber"
              (change)="reslice()"
            >
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
            </select>

                <!-- Apply filters button -->

            <button mat-raised-button (click)="doFiltering()">Apply Filters</button>

            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

            <!-- Display applied filters -->

<div class="container m-1">
  <app-display-filter #requestedFilters></app-display-filter>
</div>

      <!-- Table to display filtered results -->

<div class="container my-5">
  <table #resultsTable mat-table [dataSource]="sortedMovies">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let movie">
        <!-- matTooltip is what display the short summar on hover -->
        <a
          href="https://www.imdb.com/title/{{ movie.id }}/"
          target="_blank"
          matTooltip="{{ movie.short_summary }}"
          >{{ movie.title }}</a
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="popularity">
      <th mat-header-cell *matHeaderCellDef>Popularity</th>
      <td mat-cell *matCellDef="let movie">{{ movie.popularity }}</td>
    </ng-container>
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef>Budget</th>
      <td mat-cell *matCellDef="let movie">
        ${{ movie.budget | largeNumSuffix }}
      </td>
    </ng-container>
    <ng-container matColumnDef="revenue">
      <th mat-header-cell *matHeaderCellDef>Revenue</th>
      <td mat-cell *matCellDef="let movie">
        ${{ movie.revenue | largeNumSuffix }}
      </td>
    </ng-container>
    <ng-container matColumnDef="cast">
      <th mat-header-cell *matHeaderCellDef>Cast</th>
      <td mat-cell *matCellDef="let movie">{{ movie.cast | addSpace }}</td>
    </ng-container>
    <ng-container matColumnDef="director">
      <th mat-header-cell *matHeaderCellDef>Director</th>
      <td mat-cell *matCellDef="let movie">{{ movie.director }}</td>
    </ng-container>
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef>Genres</th>
      <td mat-cell *matCellDef="let movie">{{ movie.genres | addSpace }}</td>
    </ng-container>
    <ng-container matColumnDef="release_year">
      <th mat-header-cell *matHeaderCellDef>Release Year</th>
      <td mat-cell *matCellDef="let movie">{{ movie.release_year }}</td>
    </ng-container>
    <ng-container matColumnDef="relevance">
      <th mat-header-cell *matHeaderCellDef>Relevance</th>
      <td mat-cell *matCellDef="let movie">{{ movie.relevance }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
</div>

<div class="center">
  <h1 id="about">About</h1>
  <p>Advanced Web Development at Southeast Missouri State University</p>
  <p>Group members: Andrew Hoffman, Blake Bleem, Hunter Kelso, Tyler Selby, Qizheng Ma</p>
</div>