<div class="container-fluid">

  <nav class="navbar navbar-expand-xl bg-light align-items-start d-lg-flex align-items-center">

      <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="nav navbar-brand h1">
        <a class="navbar-brand" href="#">
          <img src="assets/movie-logo.jpg" alt="movie logo" width="120" height="65">
        </a>
      </span>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"></ul>
      </div>
  </nav>
</div>


<div class="table-responsive">
    <table
      #resultsTable
      mat-table
      [dataSource]="favoriteMovies"
      class="table table-striped table-hover"
    >
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let movie">
          <!-- matTooltip is what display the short summar on hover -->
          <a
            href="https://www.imdb.com/title/{{ movie.imdbId }}/"
            target="_blank"
            matTooltip="{{ movie.short_summary }}"
            >{{ movie.title }}</a
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef>Popularity</th>
        <td mat-cell *matCellDef="let movie">{{ movie.popularity | roundNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="budget">
        <th mat-header-cell *matHeaderCellDef>Budget</th>
        <td mat-cell *matCellDef="let movie">
          ${{ movie.budget | largeNumSuffix }}
        </td>
      </ng-container>
      <ng-container matColumnDef="revenue">
        <th mat-header-cell *matHeaderCellDef>Revenue</th>
        <td mat-cell *matCellDef="let movie">
          ${{ movie.revenue | largeNumSuffix }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cast">
        <th mat-header-cell *matHeaderCellDef>Cast</th>
        <td mat-cell *matCellDef="let movie">{{ movie.cast }}</td>
      </ng-container>
      <ng-container matColumnDef="director">
        <th mat-header-cell *matHeaderCellDef>Director</th>
        <td mat-cell *matCellDef="let movie">{{ movie.directors }}</td>
      </ng-container>
      <ng-container matColumnDef="genres">
        <th mat-header-cell *matHeaderCellDef>Genres</th>
        <td mat-cell *matCellDef="let movie">{{ movie.genres }}</td>
      </ng-container>
      <ng-container matColumnDef="release_year">
        <th mat-header-cell *matHeaderCellDef>Release Year</th>
        <td mat-cell *matCellDef="let movie">{{ movie.release_year }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns; let movie" class="favorite" (click)="removeFavorite(movie.id)"></tr>
    </table>
  </div>

  <footer>
    <div class="footerLinks">
      <ul class="menu-bar">
        <li>
          <a id="home" aria-current="page" routerLink="/mainPage">Home</a>
        </li>
        <li></li>
        <li>
          <a id="about" routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/favorites">Favorites</a>
        </li>
      </ul>
    </div>
  
    <div>
      <div class="copyright">
        <p>Copyright 2022</p>
      </div>
    </div>
  </footer>