div.scrollWrapper{

    height:250px;
    width: 400px;;
    overflow:scroll;
	border: 4px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
  }
  
table {
  width: 100%;
  border: 6px;
  border-color: black;
  border-style: groove;
  border-width: 6px;
  margin-top: 10px;
}

mat-header-cell, mat-cell {
  justify-content: center;
  text-align: left;
  font-size:large;
}

.center {
  text-align: center;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

.navbar {
  flex:1;
  min-width: 100%;
}

.btn {
  margin: 5px;
}

button {
  margin: 5px;
}

select {
  margin: 5px;
}

.favorite {
    background-color: rgb(189, 255, 187);
}